* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
  /* позволяет не прокручивать страницу при увеличении текста */
}
.li__styles {
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform 0.9s ease-in-out;
}
.li__styles:hover {
  transform: scale(1.2);
}
.link__styles {
  text-decoration: none;
  color: black;
}
.element__margin__top {
  margin-top: 20px;
}
.element__margin__bottom {
  margin-bottom: 20px;
}
